<launch>
    <node pkg="autolabor_simulation_base" type="simulation_base_node" name="autolabor_driver" output="screen">
    	<param name="map_frame" value="odom"/>
    	<param name="odom_frame" value="odom"/>
    	<param name="base_link_frame" value="base_link"/>
    	<param name="real_map_frame" value="real_map"/>

    	<param name="noise_v_linear" value="0.0"/>
    	<param name="noise_v_theta" value="0.0"/>

    	<param name="max_a_linear" value="999.0"/>
    	<param name="max_a_theta" value="999.0"/>

    	<param name="max_v_linear" value="1.0"/>
    	<param name="max_v_theta" value="1.57"/>

    	<param name="rate" value="10"/>
    </node>

    <node pkg="autolabor_simulation_location" type="simulation_location_node" name="autolabor_location" output="screen">
    	<param name="baselink_frame" value="base_link"/>
    	<param name="real_map_frame" value="real_map"/>
    	<param name="location_frame" value="location"/>

    	<param name="location_to_real_map_x" value="1.0"/>
    	<param name="location_to_real_map_y" value="1.0"/>
	<param name="location_to_real_map_yaw" value="0.5"/>
 
    	<param name="rate" value="3"/>
    </node>

    <node name="location_fusion" pkg="location_fusion" type="simple_fusion">
        <param name="map_frame" value="map" />
        <param name="odom_frame" value="odom" />
        <param name="base_link_frame" value="base_link" />

        <param name="buffer_size" value="50" />
        <param name="distance_interval" value="0.1" />
        <param name="rate" value="20" />
    </node>

    <node name="path_saver" pkg="path_server" type="record_path_node">
        <param name="map_frame" value="map" />
        <param name="base_link_frame" value="base_link" />

        <param name="odom_topic" value="odom" />

        <param name="distance_interval" value="0.1" />
    </node>

    <node name="keyboard_control" pkg="autolabor_keyboard_control" type="keyboard_control_node">
        <param name="linear_min" value="0.3" />
        <param name="linear_max" value="0.75" />
        <param name="linear_step" value="0.2" />

        <param name="angular_min" value="0.314" />
        <param name="angular_max" value="1.57" />
        <param name="angular_step" value="0.314" />
    </node>

    

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation_launch)/rviz/autolabor.rviz" />

</launch>
